@font-face {
  font-family: 'NASA';
  src: url(fonts/nasalization-rg.otf);
}

body{
  font-family: "NASA";
}
html{
    scroll-behavior: smooth;
}

body{
    background: url("img/bg.jpeg") no-repeat #000;
    background-size: cover;
    background-attachment: fixed;
    
}
section{
    background-image: url(img/fg.jpg);
    height:fit-content;
    background-size: cover;
    background-attachment: fixed;
    color: #ccc;
    padding: 30px;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.card{
    position: relative;
}
 
 i{
    color: aliceblue;
    font-size: 3rem;
 }
 i.bi{
    transition: 0.5s;
    object-fit: cover;
 }
.bi:hover{
  transform: scale(1.5);
}
 .slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #817777a8, #867e7ab7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3d3636d2, #a5a19fde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  .slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
  }
  .slider-card img {
    border-radius: 5px 5px 0px 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: #ddaf16 !important;
  }

  .slider-card, iframe {
    border-radius: 30px;
    padding: 5px;
  }
  .overflow-auto::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar{
    width: 9px;
}
body::-webkit-scrollbar-thumb{
    background: #2f0b91;
    border-radius: 5px;
}